NET "GCLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "GCLK" LOC = P184;
NET "SEG_DATA[0]" LOC = P10;
NET "SEG_DATA[1]" LOC = P7;
NET "SEG_DATA[2]" LOC = P11;
NET "SEG_DATA[3]" LOC = P5;
NET "SEG_DATA[4]" LOC = P4;
NET "SEG_DATA[5]" LOC = P12;
NET "SEG_DATA[6]" LOC = P9;
NET "SEG_DATA[7]" LOC = P3;

NET "SEG_SEL[0]" LOC = P15;
NET "SEG_SEL[1]" LOC = P20;
NET "SEG_SEL[2]" LOC = P19;
NET "SEG_SEL[3]" LOC = P18;
NET "SEG_SEL[4]" LOC = P16;

NET "BUZZER" LOC = P13;

NET "LED[0]" LOC = P42;
NET "LED[1]" LOC = P43;
NET "LED[2]" LOC = P44;
NET "LED[3]" LOC = P45;
NET "LED[4]" LOC = P46;
NET "LED[5]" LOC = P48;
NET "LED[6]" LOC = P50;
NET "LED[7]" LOC = P51;
NET "LED[8]" LOC = P61;
NET "LED[9]" LOC = P62;
NET "LED[10]" LOC = P63;
NET "LED[11]" LOC = P64;
NET "LED[12]" LOC = P65;
NET "LED[13]" LOC = P67;
NET "LED[14]" LOC = P68;
NET "LED[15]" LOC = P71;

NET "RESTART" LOC = P190;
NET "START" LOC = P189;
NET "STOP" LOC = P187;